  $theme-colors:(
    "dark-blue":#08083D,
    "light-sky-blue":#e8efff,
    "success-green":#23CE6B,
  );
  @font-face {
    font-family: Gilroy-ExtraBold;
    src: url(/assets/fonts/Gilroy-ExtraBold.ttf);
  }
  @font-face {
    font-family: Gilroy-Light;
    src: url(/assets/fonts/Gilroy-Light.ttf);
  }
  
  .nav-main-style{
    top: 0px;
    left: -0.25px;
    width: 1920px;
    height: 100px;
    padding:31px 296px 31px 0px;  
  }
  .nav-logo{
    font-size: 31px !important;
    // margin-left: 296px;
    width: 176px;
    height: 38px;
    text-align: left;
    font: normal normal 800 31px/38px Gilroy-ExtraBold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  .sub-ul-style{
    width: 100%;  
    justify-content: end;
  }
  .ul-font-style{
    font-size: 16px !important;
    font: normal normal 300 16px/19px Gilroy-Light;
    letter-spacing: 0px;
  color: #FFFFFF;
  } 

  .herosection-style{
    background: transparent url('/assets/images/Group1321.png') 100% 0% no-repeat ;
    height: 713px;
    background-size: cover; 
  }

  .feature-title-style{

    // width: 434px;
height: 62px;
font-size: 61px;
/* UI Properties */
// text-align: center;
font-family: Gilroy-ExtraBold;
letter-spacing: 0px;
color: #08083D;
opacity: 1;
  }
.sub-font-style{
  font-size: 24px;
  font-family: Gilroy-ExtraBold;
  color: #08083D;

}
  .footer-styling{
    background: transparent url('/assets/images/Group2176.png') 0% 0% no-repeat padding-box;
    background-size: cover;
  }

  .sub-footer-style{
    display: flex;
    flex-direction: row;
    width: 800px;
  }
  .sub-footer-contact-style{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
  }
  .sub-footer-social-media-style{
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: flex-end;
    padding-right: 10px;
  }
  .title-style-for-mobile{
    display: none;
  }
  .footer-card-style{
    display: flex;
    flex-direction: column;
  }
  .navbar-toggler{
    border-radius: 0rem;
  }
  .title-mobile-style{
    font-family:"Gilroy-ExtraBold";
    font: normal normal 800 20px/24px Gilroy-ExtraBold;
  }
  @media (min-width: 450px) {
  .collapse-style{
      position: absolute;
      top: 90px
    }
    .title-style-for-mobile{
      top: 60px;
      width: 224px;
      height: 24px;
      font: normal normal 800 24px/24px Gilroy-ExtraBold;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
      background-color: red;
      z-index: 99;  
    }
    .footer-style{
      display: none
    }
  }
@import "../node_modules/bootstrap/scss/bootstrap.scss";
